.vs/
JuceLibraryCode

*.suo
*.VC.db
*.exe
*.dll
*.ilk
*.pdb
*.ipdb
*.iobj
*.vcxproj.user
*.opendb
*.obj
*.tlog
*.lastbuildstate
*.xcscmblueprint
*.flac
*.wav
xcuserdata/
build/
build-*/
Builds/
us.stackdump
*.mp3
